*, html, body {
    font-family: 'Open Sans';
}

body {
    background-color: #000;
    color: #fff;
    padding: 50px;
}

#start h1 {
    font-size: 600%;
}


button {
    background-color: #007dd6;
    color: #fff;
    border: 0;
    display: inline-block;
}

input[type=text] {
    border: 0;
    display: inline-block;
    background-color: #333;
    color: #fff;
}

label {
    font-weight: normal;
}